<br>
<br>
<br>
<br>
<table>
    <tr>
      <th *ngFor="let value of header">
        {{ value }}
      </th>
    </tr>
    
    <!-- <tr *ngFor="let body of dataExt">
      <td>
        {{ body.numero }}
      </td>
      <td *ngFor="let attr of body.data">
        {{ attr.value }}
      </td>
    </tr> -->



    <tr *ngFor="let item of dataExt">
      <td [attr.rowspan]="item.stateSpan" *ngIf="item.stateSpan" >{{ item.index }}</td>
      <td [attr.rowspan]="item.countySpan" *ngIf="item.countySpan">{{ item.numero }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.fechaInicio }}</td>
      <td *ngFor="let days of item.arrayDays"  >
        <b [style.background-color]="days.active ? '#0FEB30' : ''" >  {{ days.value }} </b>
      </td>


      <td>{{ item.fechaFin }}</td>
    </tr>
</table>